.formInput {
  font-family: var(--theme-primary-font-family);
  line-height: 1.5;
}
.add-form {
  padding: var(--theme-primary-padding);
}
.left-input {
  float: left;
  width: 450px;
}
.right-input {
  float: right;
  width: 200px;
  text-align: end;
}
.formInput {
  display: inline-block;
  margin: 0 auto 30px;
  padding: var(--theme-primary-padding) 40px;
  width: 650px;
  background-color: var(--theme-primary-color-gray);
  border-radius: var(--theme-primary-border-radius);
  text-align: center;
}
.formInput-h1 {
  font-size: var(--theme-primary-font-header-size);
  font-weight: 400;
  font-style: normal;
  font-family: var(--theme-primary-font-family);
  text-transform: uppercase;
  color: #fff;
  margin: 15px;
}
.group_input {
  position: relative;
  margin: 0 auto 25px;
  float: left;
  width: 400px;
  height: 30px;
  font-size: var(--theme-primary-font-size);
  font-family: var(--theme-primary-font-family);
  border: none;
  color: coral;
  padding: 5px 0px;
}
.group_input-label {
  font-size: 12px;
  float: left;
  width: 50px;
  display: block;
  margin-bottom: 5px;
  text-align: end;
}
.group_input-input {
  outline: 0;
  background: var(--theme-primary-color-gray-label);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: var(--theme-primary-border-radius);
}
.group_input-input:focus {
  border: 1.5px solid coral;
}
.short {
  width: 200px;
}
.short-input {
  width: 110px;
}
.short-tournir {
  width: 650px;
}
.short-tournir-input {
  width: 200px;
}
.submit-button-input {
  width: 100%;
  float: left;
  position: relative;
  background: var(--theme-primary-color);
  border: 0;
  padding: 15px;
  border-radius: var(--theme-primary-border-radius);
  color: white;
  font-size: var(--theme-primary-font-size);
  font-family: var(--theme-primary-font-family);
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.submit-button-input:hover {
  color: #fff;
  background-color: var(--theme-primary-color-btn-hover);
}
.submit-button-input:active {
  transform: scale(0.99);
}
.submit-button {
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-align: left;
  color: var(--theme-primary-color);
  margin: var(--theme-primary-margin);
  cursor: pointer;
  border-radius: var(--theme-primary-border-radius);
}
.submit-button:hover {
  text-decoration: underline;
  color: var(--theme-primary-color-btn-hover);
}
.submit-button:focus {
  outline: none;
}
