html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: stretch;
  justify-content: space-between;
}
body,
#root,
.router-div,
.router-div > div,
.App {
  overflow-x: hidden;
  flex: inherit;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.App {
  flex-wrap: wrap;
}
.router-div > div {
  min-height: 100%;
}
.App-logo {
  height: 1500px;
  width: 100px;
  z-index: 1;
  opacity: 0.1;
  margin: auto;
  display: block;
}
.App-header {
  background-color: #444444;
  color: white;
  height: 40px;
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
}
.App-title {
  font-size: 1em;
  text-transform: uppercase;
}
.App-intro {
  font-size: large;
}
.container {
  margin: 15px auto;
  text-align: center;
  position: relative;
  padding: 15px;
  border: none;
  background: #444444;
  width: 300px;
}
.container-label {
  font-size: 14pt;
  padding: 15px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
}
.container-input {
  font: 12pt sans-serif;
  width: 250px;
  height: 30px;
  margin: 10px 15px;
  background: #444444;
  color: #dfdfdf;
  border: solid 1px;
}
.submit-btn {
  background-color: #b90013;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  height: 40px;
  text-transform: uppercase;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
}
.create-comp-menu {
  margin: 0 auto;
  width: 100%;
}
