
.baseDiv{
    margin:auto;
    padding:0;
    /*width:'1500px',*/
    background-color:transparent;
    color:#000;
    display: block;
}
.btnDestroy{
    height: 16px;
    transition: color 0.2s ease-out;
    cursor: pointer;
}
div.table-title {
    display: block;
    padding:5px;
    width: 100%;
}
.table-title h3 {
    font-size: 20px;
    font-weight: 400;
    font-style:normal;
    font-family: Tahoma, Sans-Serif;
    text-transform:uppercase;
    margin:auto;
}
.table-fill {
    background: white;
    border-radius:var(--theme-primary-border-radius);
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    padding:5px;
    width: 100%;
    animation: float 5s infinite;
}
th {
    font-size:16px;
    font-weight: 100;
    padding:10px;
    text-align:left;
    background: #1b1e24;
    color:#D5DDE5;
    /*border-right: 1px solid #C1C3D1;*/
}
th:first-child {
    border-top-left-radius:var(--theme-primary-border-radius);
}

th:last-child {
    width:30px;
    border-top-right-radius:var(--theme-primary-border-radius);
    border-right:none;
}
tr {
    color:#666B85;
    fill-opacity: 0.2;
}
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    fill-opacity: 1;
}
tr:first-child {
    border-top:none;
}
tr:last-child {
    border-bottom:none;
}
tr:nth-child(odd) td {
     background:#EBEBEB;
}
tr:nth-child(odd):hover td {
    background:#4E5066;
}
tr:last-child td:first-child {
    border-bottom-left-radius:var(--theme-primary-border-radius);
}

tr:last-child td:last-child {
    border-bottom-right-radius:var(--theme-primary-border-radius);
}
td {
    background:#FFFFFF;
    padding:5px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:16px;
    /*border-right: 1px solid #C1C3D1;*/
}